name: mpi-multinode-gradientci-speed
workerContainer: devopsbay/detectron2-cuda:v1
workerMachineType: P4000
experimentType: GRPC
datasets:
  - name: small_coco
    uri: s3://paperspace-tiny-coco/small_coco.zip
workerCommand: "python training/train_net.py --config-file training/configs/mask_rcnn_R_50_FPN_3x.yaml --num-gpus 1 MODEL.WEIGHTS https://dl.fbaipublicfiles.com/detectron2/COCO-Detection/faster_rcnn_R_50_FPN_1x/137257794/model_final_b275ba.pkl OUTPUT_DIR /artifacts/models/detectron"
workerCount: 4
workspace: https://github.com/Paperspace/object-detection-segmentation.git
parameterServerContainer: devopsbay/detectron2-cuda:v1
parameterServerMachineType: P4000
parameterServerCommand: "sleep infinity"
parameterServerCount: 1
modelPath: /artifacts
modelType: Custom
clusterId : cld01g8hd
projectId: pr3qnl0g8