<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <meta name="author" content="Paperspace">
    <title>Paperspace Detectron 2 Demo</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <style>
        .body-dark {
            background-color: #12141d;
            font-family: Inter, sans-serif;
        }
    </style>
</head>

<body>
<main role="main" class="container">

    <div class="row mb-3">
        <div class="col-12">
            <h2>Detectron2 Instance Segmentation</h2>
            <p>Upload your file</p>
            <form action="/model-serving/{{ model_id}}/detect" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file1">File</label>
                    <input type="file" class="form-control" id="file1" aria-describedby="file">
                    <small id="file1help" class="form-text text-muted">Select Image</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>
</body>
